body {
  font-family: Arial;
  font-size: 17px;
  padding: 8px;
  background-color: #eef8ff;
}

* {
  box-sizing: border-box;
}
.h2{
  color: #00008b;
}

.row {
  display: -ms-flexbox; 
  display: flex;
  -ms-flex-wrap: wrap; 
  flex-wrap: wrap;
  margin: 0 -16px;
}


.col-25 {
  -ms-flex: 25%; 
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%; 
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%; 
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}


.container {
  background-image: linear-gradient(to right, #eeaeca, #94bbe9);
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}



.btncancel {
  background-color: #00008b;
  color: white;
  padding: 12px;
  margin: 200px 0px 200px 0px;
  border: none;  
  border-radius: 5px;
  cursor: pointer;
  font-size: 17px;
}


.btnsubmit {
  background-color: #00008b;
  color: white;
  padding: 12px;
  margin: 200px 0px 200px 0px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 17px;
}

.btnsubmit:hover {
  background-color: #6699cc;
}

.btncancel:hover {
  background-color: #6699cc;
}

a {
  color: #2196F3;
}

hr {
  border: 1px solid lightgrey;
}

@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}